In [3]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [4]:
idades = [39,30,27,18]
type(idades)

list

In [5]:
len(idades)

4

In [6]:
idades

[39, 30, 27, 18]

In [7]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [8]:
idades.append(15)

In [9]:
idades[4]

15

In [10]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [11]:
idades.remove(30)

In [12]:
idades

[39, 27, 18, 15]

In [13]:
idades.append(15)

In [14]:
idades

[39, 27, 18, 15, 15]

In [15]:
28 in idades

False

In [16]:
15 in idades

True

In [17]:
if 15 in idades:
    idades.remove(15)

In [18]:
idades

[39, 27, 18, 15]

In [19]:
if 28 in idades:
    idades.remove(28)

In [20]:
idades

[39, 27, 18, 15]

In [21]:
idades.insert(0,20)

In [22]:
idades

[20, 39, 27, 18, 15]

In [23]:
idades.append([27,19])

In [24]:
idades

[20, 39, 27, 18, 15, [27, 19]]

In [25]:
for elemento in idades:
    print('Recebi o elemento', elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 27
Recebi o elemento 18
Recebi o elemento 15
Recebi o elemento [27, 19]

In [28]:
idades.remove([27,19])

idades.extend([27,19])

In [29]:
idades

[20, 39, 27, 18, 15, 27, 19, 27, 19]

In [30]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
    
idades_no_ano_que_vem

[21, 40, 28, 19, 16, 28, 20, 28, 20]

In [31]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 28, 19, 16, 28, 20, 28, 20]

In [32]:
[(idade) for idade in idades if idade > 21]

[39, 27, 27, 27]

In [33]:
idades

[20, 39, 27, 18, 15, 27, 19, 27, 19]

In [34]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28, 28, 28]

In [35]:
# problemas com a multabilidade
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)
    
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [39]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

In [40]:
faz_processamento_de_visualizacao()

0

In [41]:
faz_processamento_de_visualizacao()

1

In [42]:
faz_processamento_de_visualizacao()

2

In [43]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [44]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]

In [68]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
    
    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [69]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [70]:
conta_do_gui.deposita(500)

In [71]:
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [73]:
conta_da_dani = ContaCorrente(4566)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 4566 Saldo 1000<<]

In [74]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x000001B44F687DD8>, <__main__.ContaCorrente object at 0x000001B44F6877B8>]

In [75]:
for conta in contas:
    print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 4566 Saldo 1000<<]

In [79]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [80]:
conta_do_gui.deposita(100)

In [78]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [81]:
print(contas[0])

[>>Codigo 15 Saldo 700<<]

In [82]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)
        
contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 700<<] [>>Codigo 4566 Saldo 1000<<]
[>>Codigo 15 Saldo 800<<] [>>Codigo 4566 Saldo 1100<<]

In [83]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 800<<] [>>Codigo 4566 Saldo 1100<<]

In [84]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

In [85]:
contas

[76,
 <__main__.ContaCorrente at 0x1b44f687dd8>,
 <__main__.ContaCorrente at 0x1b44f6877b8>]

In [86]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [87]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO
conta_do_gui[1]

1000

In [89]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [90]:
def deposita(conta): # variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [91]:
deposita(conta_do_gui)

(15, 1100)

In [92]:
conta_do_gui

(15, 1000)

In [93]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [94]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [95]:
usuarios.append(('Paulo', 39, 1979))

In [96]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [97]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: 'tuple' object does not support item assignment

In [98]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

In [99]:
contas = (conta_do_gui, conta_da_dani)

In [100]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 234876 Saldo 1000<<]

In [101]:
contas.append(423768)

AttributeError: 'tuple' object has no attribute 'append'

In [102]:
contas[0].deposita(300)

In [103]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 234876 Saldo 1000<<]

In [104]:
"""# Herança e polimorfismo"""

'# Herança e polimorfismo'

In [105]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [106]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [107]:
class ContaCorrente(Conta):
  
  def passa_o_mes(self):
    self._saldo -= 2
    
class ContaPoupanca(Conta):
  
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [108]:
ContaInvestimento(764)

TypeError: Can't instantiate abstract class ContaInvestimento with abstract methods passa_o_mes

In [109]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [110]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [111]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

In [112]:
for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

In [113]:
"""# evitaremos usar array puro. se precisamos de trabalho numérico, é costume usar o numpy"""

'# evitaremos usar array puro. se precisamos de trabalho numérico, é costume usar o numpy'

In [115]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [116]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [118]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\andeson\anaconda3\lib\site-packages (1.16.4)

In [119]:
import numpy as np

In [121]:
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [122]:
numeros + 3

array([4. , 6.5])

In [123]:
#__eq__ igualdade

In [124]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [125]:
conta1 = ContaSalario(37)
print(conta1)

conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]
[>>Codigo 37 Saldo 0<<]

In [126]:
conta1 == conta2

False

In [127]:
contas = [conta1]
conta1 in contas

True

In [128]:
conta2 in contas

False

In [129]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    return self._codigo == outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [130]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [131]:
conta1 != conta2

False

In [132]:
conta1 in [conta2]

True

In [133]:
conta2 in [conta1]

True

In [134]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [135]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [136]:
conta1.deposita(10)

In [137]:
conta1 == conta2

False

In [138]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [139]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [140]:
conta1 == conta2

False

In [141]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [142]:
isinstance(ContaCorrente(34), Conta)

True

In [143]:
#range , enumerate, list

In [144]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

In [145]:
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [146]:
range(len(idades)) # lazy...

range(0, 8)

In [147]:
enumerate(idades) # lazy

In [148]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [149]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [150]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [151]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

In [152]:
for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [153]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [155]:
#ordernacao sorted , reversed ou objeto.sort()

In [156]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [157]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [158]:
15 < 32

True

In [159]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [160]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [161]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [162]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [163]:
idades.sort()

In [164]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [167]:
nomes = ["Guilherme", "Daniela", "Paulo"]

In [168]:
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [169]:
nomes = ["guilherme", "Daniela", "Paulo"]

In [170]:
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [171]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [172]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [173]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [174]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [175]:
def extrai_saldo(conta):
  return conta._saldo

In [176]:
for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [177]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [178]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [179]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [180]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [181]:
conta_do_guilherme < conta_da_daniela

True

In [182]:
conta_do_guilherme > conta_da_daniela

False

In [183]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [184]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [185]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

In [186]:
contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [187]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [188]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [189]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [190]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [191]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [192]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [193]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [194]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [195]:
conta_do_guilherme < conta_da_daniela

True

In [196]:
conta_do_guilherme <= conta_da_daniela

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [205]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [206]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [199]:
conta_do_guilherme <= conta_da_daniela

True

In [200]:
conta_do_guilherme <= conta_do_paulo

False

In [201]:
conta_do_guilherme < conta_do_guilherme

False

In [202]:
conta_do_guilherme == conta_do_guilherme

True

In [207]:
conta_do_guilherme <= conta_do_guilherme

True