# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [7]:
lista = []

In [8]:
for i in range(10):
    i+=1
    print(i)
    lista.append(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [11]:
lista_five = ['a', 'b', 'c', 'd', 'e']

In [12]:
lista_five

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [21]:
string_a = 'nome'

In [22]:
string_b = ' sobrenome'

In [23]:
string_c = string_a + string_b

In [24]:
print (string_c)

nome sobrenome

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [29]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [30]:
tupla.count(4)

3

In [31]:
tupla

(1, 2, 2, 3, 4, 4, 4, 5)

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [32]:
dic = {}

In [33]:
dic

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [34]:
dic = {"val1": 1, "val2": 2, "val3": 3}

In [35]:
dic

{'val1': 1, 'val2': 2, 'val3': 3}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [37]:
dic["val4"] = 4

In [38]:
dic

{'val1': 1, 'val2': 2, 'val3': 3, 'val4': 4}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [47]:
dic2 = {"val1":[1,2], "val2": 2, "val3": 3}

In [48]:
dic2

{'val1': [1, 2], 'val2': 2, 'val3': 3}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [42]:
lista_2 = [ 'string', (1,2), {"val1": 1, "val2": 2}, 5.3]

In [43]:
lista_2

['string', (1, 2), {'val1': 1, 'val2': 2}, 5.3]

In [45]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [49]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>